@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');



/* ============================= Start Gloable Rules ========================== */
:root{
  --main-color: #FF2020;
  --text-color-gray : #74706B;
  --brown-color : #CEBD9C;
  --almost-blue :#677F8B;
  --main-delay : all .3s ease-out 0s;
  --sec-delay : all 1.2s ease 0s;
  --link-color : #292621;
  --full-rotat-y :rotateY(180deg)
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none;
  scroll-behavior: smooth;
  transition: var(--main-delay);
}
section{
  padding-top: 30px;
}

/* ------- start Offical color for social media ------  */
li:hover a .fa-facebook{
  color:blue;
}

li a:hover .fa-instagram::before{
  background-clip: text;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); 
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);   
  -webkit-text-fill-color: white; 
  border-radius: 2px;
}

    li:hover a .fa-twitter {
      color:#1DA1F2
    }
    li:hover a .fa-linkedin{
      color: #0077b5 
    }
    li:hover a .fa-youtube{
      color:red;
    }
    /* ------- End Offical color for social media ------  */
    .menu-dropdown{

      margin-left: 5px;
    }
    .menu-dropdown i{
      font-size: 13px;
      font-weight: 600;
    }
    .menu-dropdown:hover i{
      color:var(--main-color)
    }
    .menu-dropdown:hover i::before{
      content: "\f107";
    }

    .submenu{
      position: absolute;
      width: 170px !important;
      background: #fff;
      left: 0;
      top: 90%;
      visibility: hidden;
      opacity: 0;
      box-shadow: 0 0 10px 3px rgba(0,0,0,0.05);
      padding: 17px 0;
      border-top: 3px solid #FF2020;
      border-radius: 7px 7px 3px 3px;
      -webkit-transition: all .2s ease-out 0s;
      -moz-transition: all .2s ease-out 0s;
      -ms-transition: all .2s ease-out 0s;
      -o-transition: all .2s ease-out 0s;
      transition: all .2s ease-out 0s;
      flex-direction: column;
      height: 100px;
      z-index: 1000;
    }
    .submenu::before{
      border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent red transparent;
    content: "";
    top: -8px;
    left: 13%;
    position: absolute;
    transition: .3s;
    z-index: -1;
    overflow: hidden;
    }
    .submenu li{
      padding: 5px 0;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .submenu li:not(:last-child){
      border-bottom: 1px solid #d6cfcf;
    }
    .menu-dropdown{
      position: relative;
    }

    ul li:hover > .submenu{
      visibility: visible;
      opacity: 1;
      top: 100%;
      margin-top: 50px;
      height: auto;
      z-index: 100;
    }

/* ============================= End Gloable Rules ========================== */

body{
  font-family: "Jost", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  
}
#scrollToUp{
    background: var(--main-color);
    height: 40px;
    width: 40px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgba(108,98,98,0.2);
    cursor: pointer;
}
#scrollToUp i{
  color: white;
}

/* ============================= Start Nav ========================== */
header{
  padding-top: 5px ;
}
header a{
  color: var(--link-color);
  font-size: 14px;
}
header .top-header{
  padding: 8px 0;
}
header .top-header .top-header-content{
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  text-wrap: nowrap;
}
@media screen and (max-width:770px) {
  header .top-header .top-header-content{
    height: auto;
    flex-direction: column-reverse;
  }
}
header .top-header .top-header-menu{
  display: flex;
  width: 50%;
}
@media screen and (max-width:770px) {
  header .top-header .top-header-menu{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
header .top-header .top-header-menu li{
  margin-right: 5px;
  padding-right: 10px;

}
header .top-header .top-header-menu li a{
  color : var(--link-color) !important;
}

header .top-header-right-content{
  display: flex;
  width: 60%;
  justify-content: flex-end;

}
@media screen and (max-width:770px){
  header .top-header-right-content{
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  header .top-header-right-content > ul{
    display: none !important;
  }
}
header .top-header-right-content > ul{
  display: flex;
}
header .top-header-right-content > ul  li{
  margin-right: 10px;
  padding-right: 13px;
}
header .top-header-right-content > ul  li:first-child{
  margin-right: 4em !important;
}

header .top-header-right-content .header-soical-icons ul{
  display: flex;
}
header .top-header-right-content .header-soical-icons ul li{
  margin-right: 5px;
  padding-right: 10px;
}
header .top-header-right-content .header-soical-icons a{
  color: var(--text-color-gray);
}
header .top-header-right-content .header-soical-icons li:hover a i{
  transition: var(--sec-delay);
}
header .top-header-right-content .header-soical-icons li:hover a i{
  transform: var(--full-rotat-y);
}
@media screen and (max-width:770px){
  header .center-header{
    border-bottom: 3px solid black;
  }
}
header .center-header .container{
  display: flex;
}
header .center-header ul{
  margin-bottom:0;
}
header .center-header .logo{
  display: flex;
  width: 15%;
  justify-content: center;
}
@media screen and (max-width:770px){
  header .center-header .logo{
    width: 25%;
  }
}
header .center-header .logo img{
  width: 100px;
}
header .center-header .center-menu{
  display: flex;
  width: 70%;
}
header .center-header .center-menu .new{
  position: relative;
}
header .center-header .center-menu  .new::before{
  content: 'new';
  width: auto;
  position: absolute;
  top: -18px;
  right: 0;
  padding: 0 3px;
  background-color: var(--main-color);
  color: white;
  border-radius: 4px;
  font-size: 12px;
  z-index: 100;
}
header .center-header .center-menu  .new::after{
  position: absolute;
  content: '';
  width: 5px;
  height: 7px;
  background-color: var(--main-color);
  top: -5px;
  right: 19px;
  transform: rotate(50deg);

}
header .center-header .center-menu .ToggleBtnForMobile{
  display: none;
}
header  .offcanvas-body .new::after{
  top: 3px !important;
}
header  .offcanvas-body .new::before{
  top: -10px !important;
}
header .offcanvas-body li a:hover{
  color: var(--main-color);
}
header .offcanvas-body .dropdown-toggle[aria-expanded=true]{
  color: var(--main-color);
}
@media screen and (max-width:770px) {

  header .center-header .center-menu{
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  header .center-header .sec-menu-center{
    display: none !important;
  }
  header .center-header .center-menu .ToggleBtnForMobile{
    display: block;
    cursor: pointer;
    font-size: 25px;
  }

}
header .center-header .center-menu .sec-menu-center li a:hover{
  color: var(--main-color);
}
header .center-header .center-menu  >  li:hover a{
  color: var(--main-color);
}

header .center-header .center-menu ul:not(.dropdown-menu){
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

}
header .center-header .center-menu ul a{
  font-size: 16px;
  font-weight: 600;
}


header .center-header .center-header-header-right{
  display: flex;
  width: 15%;
}
@media screen and (max-width:770px) {
  header .center-header .center-header-header-right{
    width: 25%;
  }
  header .center-header .center-header-header-right ul{
    padding-left: 0;
  }
}
header .center-header .center-header-header-right ul{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .center-header .center-header-header-right ul li i{
  font-size: 20px;
}
header .center-header .center-header-header-right .cart{
  position: relative;
}
header .center-header .center-header-header-right .cart::before{
  content: '3';
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  top: -14px;
  right: -11px;
  background-color: var(--main-color);
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-weight: 300;
}




header .center-header .center-header-header-right ul li:hover a{
  color: var(--main-color);
}

header .foot-header{
  background-color: black;
  color: white;
  margin-top: 50px;
  padding: 10px 0;
}
@media screen and (max-width:770px){
  header .foot-header{
    display: none !important;
  }
}
header .foot-header a{
  color: var(--brown-color);
  font-size: 18px;
  border-bottom: 3px solid ;
  transition: var(--main-delay);
}
header .foot-header a:hover{
  font-size-adjust: 20px;
  font-size:22px;
}

/* ============================= End Nav ========================== */



/* ============================= Start Super Slider ========================== */
#superSlider{
  height: 700px;
  width: 100%;
  overflow: hidden;

}
#superSlider .carousel-inner{
  width: 100%;
  height: 100%;
}

#superSlider .carousel-item{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}
#superSlider .carousel-item .container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width:800px) {
  #superSlider .carousel-item  .col-empty{
    display: none;
  }
}
#superSlider .carousel-control-prev{
  justify-content: flex-start;
}
#superSlider .carousel-control-next{
  justify-content: flex-end;
}
#superSlider .slider-one{
  background-image: url('../images/Slider/h1_hero1.webp');
}

#superSlider .slider-two{
  background-image: url('../images/Slider/h1_hero2.webp');
}


#superSlider .carousel-control-prev-icon,
#superSlider .carousel-control-next-icon{
  width: 50px;
  height: 100px;
  background: rgba(41,38,33,0.2);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#superSlider  i,
#superSlider  i{
  font-size: 30px;
  color: #4d4d4d;
  position: absolute;
}
#superSlider .hero-contanet span{
    color: #FF2020;
    font-family: "Clicker Script", cursive;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 1px;
}
#superSlider .hero-contanet h1{
  animation-delay: 0.4s !important;
}
#superSlider .hero-contanet p{
  color: var(--text-color-gray);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 31px;
  animation-delay: 0.4s;
}
#superSlider .hero-contanet a{
  background: var(--link-color);
  font-weight: 500;
  border: 1px solid var(--link-color);
  text-transform: uppercase;
  color: #fff !important;
  padding: 15px 47px;
  line-height: 16px;
  font-size: 14px;
  transition: var(--main-delay);
  animation-delay: 0.7s;
}
#superSlider .hero-contanet a:hover{
  background: white;
  color: var(--link-color) !important;
}



/* ============================= End Super Slider ========================== */



/* ============================= Start Section categories ========================== */
#MainCategories .single-cat{
  position: relative;
}

#MainCategories .single-cat .single-cat-img{
  overflow: hidden;
  position: relative;
  z-index: 0;
}
#MainCategories .single-cat .single-cat-img::before{
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  content: "";
  z-index: 1;
}
#MainCategories .single-cat img{
  transition:var(--main-delay);
  width: 100%;
  transform: scale(1);
}
#MainCategories .single-cat:hover img{
  transform: scale(1.02);
}
#MainCategories .single-cat .single-cat-detalis{
  transition: var(--main-delay);
  position: absolute;
  color: white;
  left: 25px;
  bottom: 0px;
  text-align: center;
  right: 0;
}
#MainCategories .single-cat:hover .single-cat-detalis{
  margin-bottom: 40px;
}
#MainCategories .single-cat .single-cat-detalis h4 a{
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 9px;
}
#MainCategories .single-cat .single-cat-detalis .shop-now{
  color: #CEBD9C !important;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: var(--main-delay);
}
#MainCategories .single-cat .single-cat-detalis .shop-now::before{
  position: absolute;
  content: "";
  background: #CEBD9C;
  width: 100%;
  height: 2px;
  bottom: -2px;
}
#MainCategories .single-cat:hover .single-cat-detalis .shop-now{
  opacity: 1;
  visibility: visible;  
}


/* ============================= End Section categories ========================== */



/* ============================= Start Trending ========================== */
#Trending{
  padding-top: 93px;

}
#Trending .row{
  margin-bottom: 40px;
  border-bottom: 1px solid #edeff2;;

}
#Trending .row ul{
  padding-left: 0;
}
#Trending h2{
  color: var(--link-color);
  font-size: 34px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 2px;
}
@media screen and (max-width:400px) {
  #Trending h2{
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  }
}

#Trending ul li a{
  color: var(--link-color);
  font-size: 16px;
  font-weight: 500;
  border: 0;

  padding-top: 0;
  border-bottom: 4px solid transparent;

}
#Trending ul li a.Active,
#Trending ul li a:hover{
  color:var(--main-color);
  border-bottom-color:var(--main-color) ;
  padding-bottom: 36px;
}
#Trending .singel-product{
  cursor: pointer;
  overflow: hidden;
}

#Trending .singel-product .product-image{
  position: relative;
  width: 100%;
  transition: var(--main-delay);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  overflow: hidden;
}
#Trending .singel-product .product-image:hover{

  transform: scale(1.02);

}
#Trending .singel-product .product-image .image-fus{
  display: none !important;
  position: absolute;
  bottom: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: fit-content;
  z-index: 2 !important;
  transition: var(--main-delay);
}
#Trending .singel-product .product-image:hover .image-fus{
  display: flex !important;
}
#Trending .singel-product .product-image .image-fus a{
  width: 40px;
  height: 40px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 0 5px;
}
#Trending .singel-product .product-image .image-fus a:hover{
  background-color: var(--main-color);
  color: white;
}
#Trending .singel-product .product-meta{
  margin-top: 14px;
}

#Trending .singel-product .product-meta .product-title{
  color: var(--link-color);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 6px;
}
#Trending .singel-product .product-meta:hover .product-title{
  color: var(--main-color);
}
#Trending .singel-product .product-meta .sale-price{
  color: var(--text-color-gray);
  font-weight: 600;
}
#Trending .singel-product .product-meta:hover .sale-price{
  color: var(--link-color);
  
}
#Trending .singel-product .product-meta .regualr-price{
  color: var(--brown-color);
  font-weight: 600;
}

#Trending  .carousel-control-next,
#Trending  .carousel-control-prev {
  width: 6% !important;
}
#Trending  .carousel-control-next span,
#Trending  .carousel-control-prev span{
  color: var(--main-color) !important;
  font-size: 30px;
}



/* ============================= End Trending ========================== */



/* ============================= Start Testimonial ========================== */
#Testimonial{
  padding: 80px 0;
  background-color: #F3EAD8;
}

#Testimonial .Testimonial-contnet{
  width: 60%;
}
#Testimonial .Testimonial-contnet h2{
  font-size: 34px;
  font-weight: 500;
  color: var(--link-color);
  margin-bottom: 40px;

}
#Testimonial .Testimonial-contnet p:not(.Testimonial-user-work){
  line-height: 1.5;
  padding: 0 30px;
  margin-bottom: 32px;
  font-size: 22px;
  color: var(--link-color);
  font-weight: 400;

}
#Testimonial .Testimonial-user-meta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;


}
#Testimonial .Testimonial-user-meta p{
  color: #74706B;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0;
}
#Testimonial span i{
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;

}
/* ============================= End Testimonial ========================== */




/* ============================= Start You-May-Like ========================== */
#YouMayLike .row{
  --bs-gutter-x: 0 !important;
}
#YouMayLike h2{
  margin: 30px 0;
}

#YouMayLike ul li a.Active,
#YouMayLike ul li a:hover{
  color:var(--main-color);
  border-bottom-color:var(--main-color) ;
  padding-bottom: 36px;
}
#YouMayLike .singel-product{
  cursor: pointer;
  overflow: hidden;
}

#YouMayLike .singel-product .product-image{
  position: relative;
  width: 100%;
  transition: var(--main-delay);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  overflow: hidden;
}
#YouMayLike .singel-product .product-image:hover{

  transform: scale(1.02);

}
#YouMayLike .singel-product .product-image .image-fus{
  display: none !important;
  position: absolute;
  bottom: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: fit-content;
  z-index: 2 !important;
  transition: var(--main-delay);
}
#YouMayLike .singel-product .product-image:hover .image-fus{
  display: flex !important;
}
#YouMayLike .singel-product .product-image .image-fus a{
  width: 40px;
  height: 40px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 0 5px;
}
#YouMayLike .singel-product .product-image .image-fus a:hover{
  background-color: var(--main-color);
  color: white;
}
#YouMayLike .singel-product .product-meta{
  margin-top: 14px;
}

#YouMayLike .singel-product .product-meta .product-title{
  color: var(--link-color);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 6px;
}
#YouMayLike .singel-product .product-meta:hover .product-title{
  color: var(--main-color);
}
#YouMayLike .singel-product .product-meta .sale-price{
  color: var(--text-color-gray);
  font-weight: 600;
}
#YouMayLike .singel-product .product-meta:hover .sale-price{
  color: var(--link-color);
  
}
#YouMayLike .singel-product .product-meta .regualr-price{
  color: var(--brown-color);
  font-weight: 600;
}

#YouMayLike  .carousel-control-next,
#YouMayLike  .carousel-control-prev {
  width: 6% !important;
}
#YouMayLike  .carousel-control-next span,
#YouMayLike  .carousel-control-prev span{
  color: var(--main-color) !important;
  font-size: 30px;
}





/* ============================= End You-May-Like ========================== */




/* ============================= Start News ========================== */

#News{
  margin-top: 90px;
}
#News .text-center{
  font-size: 34px;
  color: var(--link-color);
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 22px;
}
#News .single-post{
  cursor: pointer;
}
#News .single-post .single-post-img{
  margin-bottom: 25px;
  width: 100%;
}
#News .single-post .single-post-img img{
  width: 100%;
  overflow: hidden;

}
#News .post-meta span{

  color: var(--text-color-gray);
  margin-bottom: 11px;
  display: block;
}
#News .post-meta h2{
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 12px;
  font-weight: 500;
  display: block;
  color: var(--link-color);
  transition: var(--main-delay);
}
#News .single-post:hover .post-meta h2{
  color: var(--main-color);
}
#News .post-meta p{
  color: var(--text-color-gray);
  margin-bottom: 24px;
}
#News .post-meta a{
  color: var(--link-color);
  text-decoration: underline !important;
  font-weight: 600;
}
#News .post-meta a:hover{
  font-size: 18px;
}



/* ============================= End News ========================== */


/* ============================= Start Services ========================== */
#OurServices{
  margin-top: 70px;
  padding-bottom: 10px;
}

  #OurServices .row > div{
    text-align: center;
  }

#OurServices .Servic-content{
  margin-bottom: 50px;
}

#OurServices img{
  margin-bottom: 25px;
}
#OurServices h2{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
  display: block;
  text-transform: capitalize;
  color: #2B2B2B;
  font-family: "Jost", sans-serif;
}
#OurServices p{
  color: #57667e;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 1.6;
}
/* ============================= End Services ========================== */


/* ============================= Start footer ========================== */
footer{
  background: #171613;
}
footer .footer-area{
  padding-top: 63px;
  padding-bottom: 60px;
}

footer .footer-area .row{
  padding-bottom: 40px;
  margin-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}
footer .footer-area h3{
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 12px;
}
footer .footer-area p{
  color: #fff;
  font-size: 15px;
  font-family: "Jost", sans-serif;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 1.6;
}

footer .footer-area form input[type=text]{
  width: 74%;
  height: 60px;
  border: 0;
  color: #000;
  background: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
  padding: 15px 24px;
  font-size: 16px;
  margin-bottom: 15px;
}

footer .footer-area input[type=submit]{
  width: 24%;
  height: 60px;
  border: 0;
  background: #FF2020;
  border-radius: 0;
  padding: 13px 24px;
  color: #fff;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
footer .footer-area .soical-icons li a{ 
  color: #677F8B !important;
  font-size: 24px;
  transition: var(--sec-delay);
}
footer .footer-area .soical-icons li a i{ 
  transition: var(--sec-delay) !important;
}
footer .footer-area .soical-icons li:hover a i{ 
  transform: var(--full-rotat-y) !important;
}
footer .sec-footer-area{
  padding-bottom: 80px;
}

footer .sec-footer-area .footer-tittle h4{
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  line-height: 1.2;
}
footer .sec-footer-area .footer-tittle ul{
  margin: 0px;
  padding: 0px;
}
footer .sec-footer-area .footer-tittle ul li{
  margin-bottom: 8px;
}
footer .sec-footer-area .footer-tittle ul li a{
  color: #BBB9B5;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline transparent;
}
footer .sec-footer-area .footer-tittle ul li a:hover{

  font-size: 18px;
  text-decoration: underline solid  #BBB9B5 !important;
}

footer .footer-foot{
  border-top: 1px solid rgba(255, 255, 255, 0.14);
  padding-top: 39px;
  padding-bottom: 1px;
}
footer .footer-foot p{
  color: #BBB9B5;
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
}
footer .footer-foot p i,
footer .footer-foot p a{
  color: var(--main-color) !important;
}

/* ============================= End footer ========================== */









